// Place all the styles related to the ask controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input {
  width: 400px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
 font-family: montserrat;
 font-size: 15px;
}


#btn {
  background-color: #beeef7;
  padding: 10px;
}
